# Python Basics

In [1]:
print("Hello world") # printing syntax

Hello world

In [4]:
a = 5 # declaration and initialisation of variable
b = 6.2 # float variable
sum = a+b # statement and expressions in python
print(sum) # printing the value of the variable sum.

11.2

In [5]:
print(type(a)) # to print the type of the variable
print(type(b))

<class 'int'>
<class 'float'>

In [10]:
c = 'this is a single quote string'
print(type(c))

<class 'str'>

In [7]:
c ="This is a double quote string"
print(type(c))

<class 'str'>

In [11]:
c = """This is a triple quotes string"""
print(type(c))

<class 'str'>

In [12]:
print(c)

This is a triple quotes string

In [14]:
complex_number  = 2 + 3j # declaration and initialisation of a complex number
print(complex_number)
print(type(complex_number))

(2+3j)
<class 'complex'>

In [16]:
d = 3.14
print(d)
print(type(d)) # floating point variable

3.14
<class 'float'>

## Working with inputs in python

In [17]:
n = input("Please enter your name") # this gives you a prompt to enter your name and it will storein the variable n.
print(n)
print(type(n))

Please enter your nameshailendra
shailendra
<class 'str'>

## Something to know about print()

In [19]:
print("This print always on a line and then prompt goes to next line")

This print always on a line and then prompt goes to next line

In [21]:
print("This will ive a space using some argument end in this finction and then we can print easily in the same line",end=' ')
print("You can now see the difference")

This will ive a space using some argument end in this finction and then we can print easily in the same line You can now see the difference

###### sep argument in print function

In [24]:
print("This", "is", "COYO", "CODE",sep='+')

This+is+COYO+CODE

###### end argument in print function

In [25]:
print("My name is",end =' ') # using this end argument in print function we can continue t print in the same line
print("shailendra")

My name is shailendra

###### format argument in print function

In [26]:
print("My name is {0} and I am interested in {1}".format("Shailendra","Machine Learning."))

My name is Shailendra and I am interested in Machine Learning.

In [30]:
print("COYO is teaching in %d cities of India and specially in %s"%(32,"IIT(BHU)VARANASI.")) # This is same as C type of printf() function used in C.

COYO is teaching in 32 cities of India and specially in IIT(BHU)VARANASI.

In [32]:
a=100
b=99.5

print("I got %d marks in CSO and %f marks in ML."%(a,b))
print("I got {0} marks in CSO and {1} marks in ML.".format(a,b))

I got 100 marks in CSO and 99.500000 marks in ML.
I got 100 marks in CSO and 99.5 marks in ML.

## Variables,Datatypes and Operators

### A type of identifier.

Rules for naming identifiers:

The first character of the identifier must be a letter of the alphabet (uppercase ASCII or lowercase ASCII or Unicode character) or an underscore (_).

The rest of the identifier name can consist of letters (uppercase ASCII or lowercase ASCII or Unicode character), underscores (_) or digits (0-9).

Identifier names are case-sensitive. For example, myname and myName are not the same. Note the lowercase n in the former and the uppercase N in the latter.

Examples of valid identifier names are i, name_2_3.

Examples of invalid identifier names are 2things, this is spaced out, my-name and >a1b2_c3.

## ARITHMATIC OPERATORS

###### Airthmetic Operators (+,-,*,**,/,//,%)

In [34]:
a = 20
b = 2

print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)
print(a%b)
print("%0.4f"%(a/b))

22
18
40
400
10.0
10
0
10.0000

#### Multi variable assignment

In [36]:
a,b,c = 56,32,34.87
print(a,b,c,sep=" ## ")

56 ## 32 ## 34.87

# Whitespaces and Indendation
##### Whitespace is important in Python.

Actually, whitespace at the beginning of the line is important. This is called indentation.

Leading whitespace (spaces and tabs) at the beginning of the logical line is used to determine the indentation level of the logical line, which in turn is used to determine the grouping of statements.

This means that statements which go together must have the same indentation. Each such set of statements is called a block

Don't mix tabs and Spaces
#### Comments are Important for readability of your code

In [41]:
# This is a single line comment
"""This is a multi line
 lets see
comment"""

a = "I am COYO"
print(a)

I am COYO

###### Operators - Arithmetic, Comparsion, Compound Assignment, Logical Operators

In [3]:
batting = "INDIA"
Batsman = "ROHIT SHARMA"
SR_OVER_HUNDRED = True

watching = batting == "INDIA" and Batsman == "ROHIT SHARMA" and SR_OVER_HUNDRED
print(watching)

True

###### Conditional Blocks of Code- If-Else

In [4]:
weather  = input()

if weather=="Rainy":
    print("Don't go outside")
    print("It is raining heavilly")
    
elif weather=="Cool":
    print("Lets play Cricket")

else:
    print("Lets go for shopping")

Raint
Lets go for shopping

In [5]:
weather  = input()

if weather=="Rainy":
    print("Don't go outside")
    print("It is raining heavilly")
    
elif weather=="Cool":
    print("Lets play Cricket")

else:
    print("Lets go for shopping")

Rainy
Don't go outside
It is raining heavilly

##### Loops in python

In [6]:
n = 10
i = 1

while i<=n:
    print("Step %d"%i)
    i = i + 1

print("Loop Finished")

Step 1
Step 2
Step 3
Step 4
Step 5
Step 6
Step 7
Step 8
Step 9
Step 10
Loop Finished

In [10]:
for i in range(1,11,2): # Range is [1,11) and commom difference 2.
    print(i,end=',')

1,3,5,7,9,

In [12]:
n = int(input("enter an integer"))
ans=1

for i in range(2,6):
    ans*=i
    
print("factorial of 5 is {0}".format(ans))

enter an integer6
factorial of 5 is 120

In [14]:
for i in range(1,6):
    for j in range(0,5):
        print(i+j,end=" ")
    print("\n")

1 2 3 4 5

2 3 4 5 6

3 4 5 6 7

4 5 6 7 8

5 6 7 8 9

# Break,Continue and Pass Statements
pass acts as a placeholder

In [17]:
for i in range(1,11):
    if (i & 1):
        continue
    print(i,end=" ")

2 4 6 8 10

In [21]:
for i in range(1,11):
    if (i==5):
        break
    print("%d %d"%(i,i+1))

1 2
2 3
3 4
4 5

###### Default Argument Values and Local Global Variables

In [23]:
lang = "C++" # Global variable
def say(x="Python"):  # Default Argument Value of x is python
    print("I Love " +x)
    
say("JavaScript")
say()
print(lang)

I Love JavaScript
I Love Python
C++

## functions

In [26]:
def my_data(name,roll_no,company_name):
    print("My name is {0}, my roll no. is {1} and I am working in  {2}.".format(name,roll_no,company_name))
    
    
my_data("shailendra","189764567","COYO")

My name is shailendra, my roll no. is 189764567 and I am working in  COYO.

###### Keyword_Argument in function

In [28]:
my_data(roll_no=187654,name="SHAILENDRA",company_name="COYO") # order of srguments is not important if we assign values in the argument.

My name is SHAILENDRA, my roll no. is 187654 and I am working in  COYO.